.location__info {
  position: absolute;
  top: 80px;
  left: 50px;
  width: 300px;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  box-shadow: 0 3px 8px 1px rgb(0 0 0 / 40%);
}

.location__info ul {
  padding: 0;
}

.location__info li {
  padding: 5px 0;
}

.location__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: white;
  position: relative;
  bottom: 20px;
  left: 10px;
  height: 1.8rem;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
  border-radius: 5px;
  border-color: white;
  cursor: pointer;
}

.occupancy {
  display: flex;
  align-items: center;
}

.occupancy__number {
  font-size: 32px;
  padding-left: 8px;
  font-weight: bold;
}

.red {
  color: red;
}
.orange {
  color: orange;
}
.green {
  color: lawngreen;
}

.unknown {
  font-size: 22px;
}

.saveBtn {
  display: inline-block;
  padding: 0.25em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  outline: none;
  border-color: white;
  border: 3px solid #4eb5f1;
  cursor: pointer;
}
.saveBtn:hover {
  background-color: #4095c6;
  border: 3px solid #4095c6;
}
.saveBtn:active {
  background-color: #4eb5f1;
  border: 3px solid #4eb5f1;
}

.delete {
  background-color: #ed7547;
  border: 3px solid #ed7547;
}
.delete:hover {
  background-color: #d64c36;
  border: 3px solid #d64c36;
}
.delete:active {
  background-color: #ed7547;
  border: 3px solid #ed7547;
}

.action {
  text-align: center;
}

.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
